/vendor/
/node_modules/
/logs/
/tmp/
*.log
.env
.DS_Store
Thumbs.db
*.zip
*.sql
*.rar
/certificados/*.pdf
/certificados/*.docx
!/certificados/MODELO CS*.docx
!/certificados/MODELO CE*.docx
!/certificados/*.docx

/assets/expedientes/*
!/assets/expedientes/.gitkeep
/uploads/*
/db/db_exports/*

config/*.json
